* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--secondary-color);
    font-size: clamp(0.9rem, 1vw + 0.4rem, 1rem);
}

:root {
    --primary-color: #F9FAFB;
    --secondary-color: #FFFFFF;
    --accent-color: #4CAF50;
    --text-color: #111827;
    --secondary-text-color: #374151;
    --muted-text: #6B7280;
    --border-color: #E5E7EB;

    --hover-bg: #F3F4F6;
    --danger-color: #EF4444;
    --action-color: #6366F1;
    --action-hover: #4F46E5;
}

body.dark {
    --primary-color: #1F2937;
    --secondary-color: #111827;
    --accent-color: #4CAF50;
    --text-color: #F9FAFB;
    --secondary-text-color: #D1D5DB;
    --muted-text: #9CA3AF;
    --border-color: #374151;

    --hover-bg: #374151;
    --danger-color: #EF4444;
    --action-color: #6366F1;
    --action-hover: #4F46E5;
}



.container {
    display: grid;
    grid-template-columns: minmax(180px, 1fr) 4fr;
    gap: 1rem;
    width: 100%;
}

/* sidebar */
.sidebar {
    padding: 1.5rem 0.5rem 1.5rem 1.5rem;
    height: 100vh;
    border-right: 0.3rem solid var(--border-color);
    border-radius: 0.6rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 1rem;
}

.sidebar-header {
    display: grid;
    gap: 1.2rem;
    margin-bottom: 1.2rem;
}

.title-box {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.title-box>img {
    align-self: center;
    max-width: 100%;
    height: auto;
}


.theme-btn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.theme-btn .sun {
  fill: orange;
  transition: fill 0.3s;
}

.theme-btn .moon {
  fill: gray;
  transition: fill 0.3s;
}

body.dark .theme-btn .sun {
  fill: yellow;
}

form {
    display: flex;
    flex-direction: column;
}

/* Today,All task & completed button */
.button-box {
    margin-left: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    gap: 0.3rem;
}

.all-task,
.completed {
    width: 100%;
    font-size: 1rem;
}

.sidebar-button {
    width: 100%;
}

.all-task:hover,
.completed:hover {
    background-color: var(--hover-bg);
    font-size: 1.05em;
    margin: 0.2rem;
    padding: 0.3rem;
    border: 0.06rem solid var(--border-color);
    border-radius: 0.3rem;
    cursor: pointer;
}

/* Project form */
.project-form {
    height: auto;
    width: clamp(250px, 80%, 400px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem;
    border: none;
    border-radius: 0.6rem;
    background: var(--secondary-color);
    box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 1rem;
}

.input-element {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--border-color);
    border-radius: 0.4rem;
    font-size: 0.95rem;
}

.project-submit-btn,
.close-btn {
    width: 100%;
    background: var(--action-color);
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.project {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.2rem;

}

.projects-list {
    margin: 0.3rem;
    padding: 0.4rem;
    display: grid;
    gap: 0.4rem;
}

.project:hover {
    background-color: var(--hover-bg);
    color: var(--action-color);
    font-size: 1.05em;
    margin: 0.2rem;
    padding: 0.3rem;
    border: 0.06rem solid var(--border-color);
    border-radius: 0.3rem;
    cursor: pointer;
}


.remove-task-button {
    justify-self: end;
}

/* Todo container */

.todo-container {
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.6rem;
}

/* task form */
.task-form {
    height: auto;
    width: clamp(280px, 80%, 500px);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem 1.5rem;
    border: none;
    border-radius: 0.6rem;
    background: var(--secondary-color);
    box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 1rem;
}

/* Heading */
.heading-wrapper {
    display: flex;
}

.task-form-heading {
    flex-grow: 3;
}

.task-form-heading,
.project-form-heading {
    font-size: clamp(1.2rem, 2vw + 0.5rem, 1.8rem);
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    text-align: center;
}

/* Inputs & textarea */
.task-title-input,
.task-desc-textarea,
.priority-dropdown,
.due-date {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid var(--border-color);
    border-radius: 0.4rem;
    font-size: 0.95rem;
}

.task-desc-textarea {
    min-height: 5rem;
    resize: vertical;
}

/* Priority wrapper */
.priority-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priority-label,
.duedate-label {
    font-size: 0.9rem;
    margin-right: 0.6rem;
}

/* Button */
.task-submit-btn {
    background: var(--action-color);
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.task-submit-btn:hover,
.project-submit-btn:hover,
.close-btn:hover {
    background: var(--action-hover);
}


.task-grid {
    background-color: var(--secondary-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0.6rem;
    width: 100%;
}

.task {
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 0.95rem;
}

.head-section {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.head-section p {
    justify-self: start;
    align-self: start;
    font-size: 1rem;
}

.details {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.details .edit-button-container {
    justify-self: end;
}

.task-details {
    padding-top: 0.3rem;
    padding-left: 17%;
    margin-left: 1rem;
    font-size: 0.85rem;
}


/* All buttons with transparent background */
.remove-project-button,
.remove-task-button,
.add-task,
.edit-button,
.close-task-btn {
    background-color: transparent;
    border: none;
    color: var(--muted-text);
    font-size: 0.9rem;
}

.add-task:hover,
.remove-project-button:hover,
.remove-task-button:hover,
.edit-button:hover,
.close-task-btn:hover {
    color: var(--danger-color);
}

/* Add project button */
.add-project-btn {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.3rem;
    cursor: pointer;
}

.add-project-btn:hover {
    color: var(--danger-color);
    background-color: var(--hover-bg);
    font-size: 1.05em;
    margin: 0.2rem;
    padding: 0.3rem;
    border: 1px solid var(--border-color);
    border-radius: 0.3rem;
    cursor: pointer;
}