* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* sidebar */
.sidebar {
    padding: 25px 5px 25px 25px;
    padding-right: 10px;
    height: 100vh;
    border-right: 5px solid gray;
    border-radius: 10px;

    background-color: #fafafa;

}
.sidebar-header{
    display: grid;
    gap: 20px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}

/* Today,All task & completed button */
.button-box {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: stretch;
    gap: 5px;
}

.sidebar-button:hover {
    background-color: rgb(224, 219, 219);
    font-size: 1.01em;
    margin: 2px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

/* Project form */
.project-form {
    height: auto;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
.input-element{
     width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}
.project-submit-btn,.close-btn{
    width: 100%;
  background: purple;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.project {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

}

.projects-list {
    margin: 5px;
    padding: 7px;
    display: grid;
    gap: 7px;
}

.project:hover {
    background-color: #eee;
    color: rgb(68, 9, 68);
    font-size: 1.01em;
    margin: 2px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}


.remove-task-button {
    justify-self: end;
}

/* Todo container */

.todo-container {
    background-color: white;
    margin: 20px;
}

/* task form */
.task-form {
  height: auto;               
  width: 400px;
  display: flex;
  flex-direction: column;     
  gap: 15px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 25px;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

/* Heading */
.heading-wrapper{
    display: flex;
}

.task-form-heading{
    flex-grow: 3;
}

.task-form-heading,.project-form-heading {
  font-size: 1.3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  text-align: center;
}

/* Inputs & textarea */
.task-title-input,
.task-desc-textarea,
.priority-dropdown,
.due-date {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.90rem;
}

.task-desc-textarea {
  min-height: 80px;
  resize: vertical;
}

/* Priority wrapper */
.priority-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.priority-label,.duedate-label {
  font-size: 0.9rem;
  color: #555;
  margin-right: 10px;
}

/* Button */
.task-submit-btn {
  background: purple;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-submit-btn:hover,.project-submit-btn:hover,.close-btn:hover {
  background: crimson; 
}


.task-grid {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    gap: 10px;
}

.task {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 5px;
}

.head-section {
    display: grid;
    grid-template-columns:1fr 5fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.head-section p{
    justify-self: start;
    align-self: start;
    
}

.details{
    display: grid;
    grid-template-columns: 5fr 1fr;
}
.details .edit-button-container{
    justify-self: end;
}
.task-details {
    padding-top: 4px;
    padding-left: 17%;
    margin-left: 20px;
    font-size: 0.8em;
}


/* All buttons with transparent background */
.remove-project-button,
.remove-task-button,
.add-task ,
.edit-button,
.close-task-btn{
    background-color: transparent;
    border: none;
    color: gray;
}

.add-task:hover,
.remove-project-button:hover,
.remove-task-button:hover,
.edit-button:hover ,
.close-task-btn:hover{
    color: red;
}

/* Add project button */
.add-project-btn {
    background-color: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    display: flex;
}

.add-project-btn:hover {
    color: red;
    background-color: #eee;
    font-size: 1.01em;
    margin: 2px;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
